*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#nav-bar{
    position:sticky;
    top:0;
    z-index:10;
}
.navbar{
    background-image:linear-gradient(to right, #a517ba, #5f1782);;
}
.navbar-brand i {
    height: 40px;
    padding-left: 20px;
    color:#fff;
    font-weight: bold;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a {
     color:#fff !important;
     font-weight: 600;
     text-align: center;
}
.fa-bars{
    color:#fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar .scrolled{
    background-color: aqua;
}
/*--------------Banner Section----------------------*/
#banner{
	position:relative;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color:#fff;
    padding-top:5%;

}
#banner a{
    color:#fff;
    text-decoration:none;
}
.promo-title{
    font-size:40px;
    font-weight:600;
    margin-top: 40px;
}
.play-btn{
    width:40px;
    height:40px;
}
.img-fluid{
    width:400px;
    height:600px;
}
.bottom-img{
width:100%;
height:30%;
}
#banner .wave{
    position: absolute;
    width:100%;
    height:143px;
    bottom:0;
    left:0;
    background: url(wave.png);
    animation: animate 10s linear infinite;
}
#banner .wave:before{
    content:'';
    width:100%;
    height: 143px;
    background: url(wave.png);
    top:0;
    left:0;
    position:absolute;
    opacity: 0.4;
    animation:animate-reverse 10s linear infinite;
}
#banner .wave:after{
    content:'';
    width:100%;
    height: 143px;
    background: url(wave.png);
    top:0;
    left:0;
    position:absolute;
    opacity: 0.6;
    animation-delay: -5s;
    animation:animate 20s linear infinite;
}
@keyframes animate
{
0%{
    background-position:0;

}
100%{
    background-position:1360px;
}
}
@keyframes animate-reverse
{
0%{
    background-position:1360px;

}
100%{
    background-position:0;
}
}

/*---------service Section-------*/
#services{
    padding:20px 0;
}
.service-img{
    width: 100px;
    margin-top:20px;
}
.services{
    padding:20px;
}
.services h4{
    padding:5px;
    margin-top:25px;
    text-transform:uppercase;
}
.title:before{
    content:'';
    background:#7b1798;
    height:5px;
    width:200px;
    margin-left:auto;
    margin-right: auto;
    display:block;
    transform: translateY(63px);
}
.title:after{
    content:'';
    background:#7b1798;
    height:10px;
    width:50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
    display:block;
    transform: translateY(8px);
}
#services .btn-primary{
    padding:8px 25px;
    border:none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}

/*---------------About us------------*/
#about-us{
    background:#f8f9fa;
    padding-bottom:50px;
    padding-top:50px;
}
.about-title{
    font-size:40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0;
}
#about-us ul{
    margin-left:20px;
}
#about-us img{
    margin-top:50px;
    padding: 10px 0;
}
/*------Testimonials-------*/
#testimonials{
    margin:50px 0;
}
.testimonials{
    border-left: 4px solid #7b1798;
    margin-top:50px;
    margin-bottom:50px;

}
.testimonials img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin:0 10px;
}
.user-details{
    display:inline-block;
    font-size:12px;
}
/*--------SOCIAL MEDIA---------*/
#socialmedia{
    background: #f8f9fa;
    padding:100px 0;
}
#socialmedia p{
    font-size:40px;
    font-weight: 600;
    margin-bottom:36px;
}
.social-icons img{
    width:50px;
    transition: o.5s;
    padding:5px;
}
.social-icons a:hover img{
    transform: translateY(-10px);

}
/*-------Footer section--------*/
#footer{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color:#fff;

}
.footer-img{
    width:100%;
    height:30%;
}
.footer-box{
    padding:20px;

}
.footer-box a{
    margin-bottom:20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size:25px;
    height:40px;
    width:40px;
    text-align:center;
    padding-top:7px ;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}
.footer-box .form-control{
    box-shadow:none !important;
    border:none;
    border-radius:1px;
    margin-top:25px;
    max-width:250px;
}
.footer-box .btn-primary{
    box-shadow:none !important;
    border:none;
    border-radius:1px;
    margin-top:25px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}
hr{
    background: #fff;
}
.copyright{
    margin-bottom:0;
    padding-bottom: 20px;
    text-align: center;
}



















